################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/pkg/Debug/JSLocalizeSample/JSLocalizeSample.dll
/pkgobj/Debug
/pkg/Debug/JSLocalizeSample/manifest.xml
/pkg/Debug/JSLocalizeSample
/bin/Debug
